@import "tailwindcss";

@keyframes logoDrawBlue {
  0% {
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    fill: transparent;
    stroke: url(#logo-gradient-a);
    stroke-width: 2px;
  }
  50% {
    stroke-dashoffset: 0;
    fill: transparent;
    stroke: url(#logo-gradient-a);
    stroke-width: 2px;
  }
  75%, 100% {
    stroke-dashoffset: 0;
    fill: #fbfbfc;
    stroke: transparent;
    stroke-width: 0px;
  }
}

@keyframes logoDrawRed {
  0% {
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    fill: transparent;
    stroke: url(#logo-gradient-b);
    stroke-width: 2px;
  }
  50% {
    stroke-dashoffset: 0;
    fill: transparent;
    stroke: url(#logo-gradient-b);
    stroke-width: 2px;
  }
  75%, 100% {
    stroke-dashoffset: 0;
    fill: #ff1212;
    stroke: transparent;
    stroke-width: 0px;
  }
}

.animate-logo-draw-blue {
  animation: logoDrawBlue 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.animate-logo-draw-red {
  animation: logoDrawRed 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}